* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
}
.header-navbar {
    text-transform: uppercase;
    width: 80%;
    margin: 31.5px auto;
}
.header-navbar a {
    color: #FF0000;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;

}
.header-navbar ul {
    display: flex;
    flex-direction: row;

}
.header-navbar li {
    margin: 0 auto;
    list-style: none;
}
.main-aside {
    width: 100%;
}
.main-aside img {
    width: 100%;
    height: auto;
}
.main-figcaption-title {
    text-transform: uppercase;
}
.figcaption-title-wrapper {
    margin: 48px auto;
    text-align: center;
}
.main-aside figcaption {
    width:85%;
    margin: 0 auto;
    line-height: 1.2em;
}
.main-aside figcaption p {
    line-height: 1.7;
    font-weight: 400;
    margin-top:28px;
}
main figure button {
    margin: 66px auto;
    border: none;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 18px 42.5px;
    border-radius: 4px;
}
footer {
    width:85%;
    text-align: right;
    margin-bottom: 29px;
    font-weight: bold;
}

