/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
	outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type=search] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
	display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
	outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
	outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
	margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
	margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
	border: 0; /* 1 */
	padding: 0;
	white-space: normal; /* 2 */
	*margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
	line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
	*overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
	*width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
button,
input,
select,
textarea {
	color: #222;
}


::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/*секція оформлення сторінки*/
:root {
	--main-font-family: 'Ubuntu', sans-serif;
}
body {
	background-image: url("../img/background.png");
	background-size: cover;
	background-position: center center;
	min-width: 100vw;
	min-height: 100vh;
	position: relative;
}

.g-wrapper {

}
.header {
	background-color: hsla(0, 0%, 0%, .4);
	display: flex;
	justify-content: space-between;
	padding: 18px 79px;
	align-content: center;

}
.header .logo {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 22px;
	line-height: 1em;
}
.header .logo:hover {
	color: hsla(149, 51%, 48%, 1);
}
.header aside{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 347px;
}
.header.separator {
	height: 19px;
	width: 1px;
	background-color: hsla(60, 100%, 95%, .9);
	padding: 0;
}
.header.enter{
	color: hsl(0, 0%, 100%);
	padding: 0;
	background-color: rgba(0,0,0,0);
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
.header a{
	padding: 0;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
.form-wrapper {
	background-color: hsl(0, 0%, 100%);
	padding: 31px 60px 38px 60px;
	display: inline-block;
	position: absolute;
	top: calc(50% + 64px);
	left: 50%;
	transform: translate(-50%, -50%);
}
.form-wrapper .title {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: hsla(0, 0%, 26%, 1);
	line-height: 1;
}
.form-wrapper .title a {
	color: hsla(149, 51%, 48%, 1);
	font-family: inherit;
	text-decoration: none;
	font-size: 14px;
}
.form-wrapper .sign-social{
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1 0 auto;
}
.form-wrapper .sign-social > div:first-child{
	margin-right: 20px;
	background-color: hsla(220, 59%, 45%, 1);
}
.form-wrapper .sign-social > div {
	padding: 12px 27px 12px 22px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.form-wrapper .sign-social .facebook,
.form-wrapper .sign-social .google {
	min-width: 160px;
	background-color: hsla(8, 73%, 54%, 1);
}
.form-wrapper .sign-social .facebook:hover{
	background-color: hsla(220, 96%, 20%, 1);
}
.form-wrapper .sign-social .google:hover {
	background-color: hsla(8, 90%, 35%, 1);
}
.form-wrapper .sign-social .logo {
	width: 50px;
	position: relative;
	min-height: 46px;
}
.form-wrapper .sign-social .logo:after {
	width: 1px;
	height: 90%;
	display: block;
	content: "";
	background-color: black;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);

}
.form-wrapper .sign-social .name p {
	font-family: 'Ubuntu', sans-serif;
	line-height: 1;
	font-size: 16px;
	font-weight: 400;
	color: hsla(0, 0%, 100%, 1);
	display: block;
	padding: 0;
	margin: 0;
}

.form-wrapper > p {
	position: relative;
	font-family: var(--main-font-family);
	color: hsla(0, 0%, 52%, 1);
	margin-top: 31px;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.form-wrapper > p:after,
.form-wrapper > p:before {
	position: absolute;
	width: calc(50% - 10px);
	height: 2px;
	top: 50%;
	background-color: hsla(0, 0%, 95%, 1);
	display: block;
	content: "";
}
.form-wrapper > p:before {
	left: 0;
}
.form-wrapper > p:after {
	right: 0;
}
.form-wrapper .data-wrapper > div {
	margin-top: 15px;
}
.form-wrapper .data-wrapper input[type=text],
.form-wrapper .data-wrapper input[type=email],
.form-wrapper .data-wrapper input[type=password] {
	color: hsla(0, 0%, 26%, 1);
	font-family: var(--main-font-family);
	width: calc(100% - 40px);
	border: 1px solid hsla(0, 0%, 95%, 1);
	border-radius: 2px;
	padding: 14px 20px;
}
.form-wrapper .data-wrapper #checkbox {
	z-index: -1;
	position: relative;
	opacity: 0;
	margin-right: 10px;
}
.form-wrapper .data-wrapper #checkbox+label {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
}
.data-wrapper .div-checkbox {
	position: relative;
}
.data-wrapper .div-checkbox p {
	display: inline;
	font-family: var(--main-font-family);
	font-size: 19px;
}
.data-wrapper .div-checkbox p a {
	text-decoration: none;
	cursor: pointer;
	color: hsla(149, 51%, 48%, 0.8);
	font-family: var(--main-font-family);
}
.form-wrapper .data-wrapper #checkbox+label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.form-wrapper .data-wrapper #checkbox:checked+label::before {
	border: 1px solid #F2F2F2;
	background-color: hsl(0, 0%, 100%);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 7.5l6 7L15 1' stroke='%233CB878' stroke-width='2'/%3e%3c/svg%3e");
	background-size: cover;
	background-position: center center;
}

.form-wrapper .data-wrapper input:focus {
	box-shadow: 0 3px 8px hsl(0, 0%, 68%);
}
.form-wrapper .data-wrapper input::placeholder{
	font-family: var(--main-font-family);
	color: hsla(0, 0%, 75%, 1);
}
.form-wrapper .data-wrapper input[type=submit]{
	margin-top: 20px;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: hsla(149, 51%, 48%, 0.8);
	text-align: center;
	border: none;
	color: hsla(0, 0%, 100%, 1);
	font-family: var(--main-font-family);
	font-size: 16px;
	border-radius: 3px;
}
.form-wrapper .data-wrapper input[type=submit]:hover {
	background-color: hsla(149, 98%, 25%, 1);
}
.google .logo,
.facebook .logo{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1em;
	width: 1em;
	line-height: initial;
	text-decoration: none;
	cursor: pointer;
}
@media screen and (max-height: 600px) {
	body{
		height: 800px;
	}
}

