ul {
	list-style: none;
	padding-left: 0;
}

.centered-content {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tabs {
	display: flex;
}

.tabs-title {
	padding: 20px;
	background-color: #23201D;
	color: #937341;
	cursor: pointer;
}

.tabs-title.active {
	background-color:#937341 ;
	color: #23201D;
}

[data-tabs-description] {
	display: none;
}
[data-tabs-description].active {
	display: block;
}

.add {
	display: block;
	padding: 5px;
	border: 1px solid grey;
	background-color: #c2c2c2;
	margin: 0 auto;
	text-align: center;
}
