:root {
	--primary-font-famaly: 'Roboto';
	--width-container: 1022px;
	--base-font-color: #FFFFFF;
	--secondary-color: #F26522;
}

body {
	font-family: var(--primary-font-famaly), sans-serif;
	color: var(--base-font-color);
}

.body-wrapper {
	background-image: url("../img/background_1.png");
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	min-width: 100vw;
}

.container {
	width: var(--width-container);
	margin: 0 auto;
}

.header .container {
	padding: 46px 0 17px 0;
}

.header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--base-font-color);
}

.header a.logo {
	display: flex;
	flex-direction: row;
	align-items: last baseline;
	text-decoration: none;
	color: var(--base-font-color);
}

.header .logo:hover {
	color: var(--secondary-color);
}

.header .logo .logo-title {
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	font-size: 29px;
}

.header .logo .logo-sub {
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
	font-size: 18px;
}

.header .logo-text {
	margin-left: 8px;
}

.header .contacts {
	display: flex;
	flex-direction: column;
}

.header .contacts a:first-child {
	margin-bottom: 19px;
}

.header .contacts a {
	color: var(--base-font-color);
	font-family: var(--primary-font-famaly);
	font-weight: 400;
	text-align: right;
	text-decoration: none;
	font-size: 18px;
}

.header .contacts a:hover {
	color: var(--secondary-color);
}

.main .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 61px;
	row-gap: 37px;
}

.main .card {
	display: block;
	text-decoration: none;
}

.main .card figure {
	position: relative;
}

.main .card .card-details {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	flex-direction: row;
	align-items: last baseline;

}

.main .card-details .card-view-details {
	margin-right: 37px;
	margin-left: auto;
	position: relative;
}

.main .card:hover .card-view-details::after {
	display: block;
	content: ">";
	right: -16px;
	bottom: 0;
	position: absolute;
	color: var(--base-font-color);
	text-decoration: none;
}

.main .card .card-desc {
	color: var(--base-font-color);
}

.main .card:hover .card-desc {
	color: var(--secondary-color);
}

.main .card .card-price {
	margin: 7px 0 12px 16px;
}

.main .card:hover .card-details {
	display: flex;
	color: var(--base-font-color);
}

.main .container .card img {
	width: 100%;
	height: auto;
}

.main .card .card-desc {
	margin: 20px auto 0 auto;
	font-size: 18px;
	font-weight: 400;
	display: block;
	text-align: center;

}

.main .card .card-details {
	background-color: var(--secondary-color);
}

.footer .copyright {
	text-align: center;
	margin-top: 49px;
	color: var(--base-font-color);
	font-size: 12px;
}

